<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670217716837-ladbnaqcs7ru5bjplbm90du7lrjm9p2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670217716837-ladbnaqcs7ru5bjplbm90du7lrjm9p2c</string>
	<key>API_KEY</key>
	<string>AIzaSyC49ZsIFt9YFjIlxuxKrxhY8ETKI7ejbtM</string>
	<key>GCM_SENDER_ID</key>
	<string>670217716837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterchatapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-44ecd</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-44ecd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670217716837:ios:e0b2fbacf16638cf73f28c</string>
</dict>
</plist>